<ion-content>

  <ion-slides>
      <ion-slide>
  
        <ion-grid>
  
            <ion-row>
                <ion-col>
                    <button expand="block" type="button" class="question1">{{question1}}</button>
                </ion-col>
            </ion-row>
            
            <ion-row>
                <ion-col>
                  <div class="radio">
                      <ion-radio-group>
  
                      <ion-item>
                          <ion-label>Bernard Cornwell</ion-label>
                          <ion-radio value="cornwell"></ion-radio>
                        </ion-item>
                    
                        <ion-item>
                          <ion-label>George MacDonald Fraser</ion-label>
                          <ion-radio value="fraser"></ion-radio>
                        </ion-item>
                    
                        <ion-item>
                          <ion-label>George R. R. Martin</ion-label>
                          <ion-radio value="martin"></ion-radio>
                        </ion-item>
                    
                        <ion-item>
                          <ion-label>Richard Lester</ion-label>
                          <ion-radio value="lester"></ion-radio>
                        </ion-item>
                    
                        <ion-item>
                          <ion-label>Thomas Hughes</ion-label>
                          <ion-radio value="hughes"></ion-radio>
                        </ion-item>
                        </ion-radio-group>
  
                  </div>
                  
                </ion-col>
            </ion-row>
  
            <ion-row>
                <ion-col>
                    <div>
                        <ion-button class="submit-button">Next Question</ion-button>
                      </div>
                </ion-col>
            </ion-row>
  
  
  
  
  
          </ion-grid>
          
        
        
        
        
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question2">{{question2}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Mary Anne Evans</ion-label>
                        <ion-radio value="mary"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Jane Anne Evans</ion-label>
                        <ion-radio value="jane"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Merlin Anne Evans</ion-label>
                        <ion-radio value="merlin"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Sophie Anne Evans</ion-label>
                        <ion-radio value="sophie"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Elizabeth Anne Evans</ion-label>
                        <ion-radio value="elizabeth"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question3">{{question3}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>William Shakespeare</ion-label>
                        <ion-radio value="dhakespeare"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Francisco de Quevedo</ion-label>
                        <ion-radio value="quevedo"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Gabriel García Márquez</ion-label>
                        <ion-radio value="marquez"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Lope de Vega</ion-label>
                        <ion-radio value="vega"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Miguel de Cervantes</ion-label>
                        <ion-radio value="cervantes"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question4">{{question4}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>13</ion-label>
                        <ion-radio value="13"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>18</ion-label>
                        <ion-radio value="18"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>14</ion-label>
                        <ion-radio value="14"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>16</ion-label>
                        <ion-radio value="16"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>8</ion-label>
                        <ion-radio value="8"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question5">{{question5}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Charles Dickens</ion-label>
                        <ion-radio value="dickens"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Franz Kafka</ion-label>
                        <ion-radio value="kafka"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Albert Camus</ion-label>
                        <ion-radio value="camus"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>John Fowles</ion-label>
                        <ion-radio value="fowels"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Thomas Hardy</ion-label>
                        <ion-radio value="hardy"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question6">{{question6}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Henry Fielding</ion-label>
                        <ion-radio value="fielding"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Daphne du Maurier</ion-label>
                        <ion-radio value="maurier"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Charlotte Bronte</ion-label>
                        <ion-radio value="bronte"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Mark Twain</ion-label>
                        <ion-radio value="twain"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Daniel Defoe</ion-label>
                        <ion-radio value="defoe"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question7">{{question7}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>William Shakespeare </ion-label>
                        <ion-radio value="shakespeare"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Jon Arryn</ion-label>
                        <ion-radio value="arryn"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Henry Acosta</ion-label>
                        <ion-radio value="acosta"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Walter Raleigh</ion-label>
                        <ion-radio value="raleigh"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Francis Drake</ion-label>
                        <ion-radio value="drake"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question8">{{question8}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Walter Raleigh</ion-label>
                        <ion-radio value="raleigh"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Williams Shakespeare</ion-label>
                        <ion-radio value="shakespeare"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Christopher Marlowe</ion-label>
                        <ion-radio value="marlowe"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Edmund Spencer</ion-label>
                        <ion-radio value="spancer"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Scarlett Johanson</ion-label>
                        <ion-radio value="johanson"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question9">{{question9}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Captain Jack Sparrow</ion-label>
                        <ion-radio value="sparrow"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Captain Ahab</ion-label>
                        <ion-radio value="ahab"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Captain Crunch</ion-label>
                        <ion-radio value="crunch"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>John Silver</ion-label>
                        <ion-radio value="silver"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Davy Jones</ion-label>
                        <ion-radio value="jones"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question10">{{question10}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Honoré de Balzac</ion-label>
                        <ion-radio value="balzac"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Charles Baudelaire</ion-label>
                        <ion-radio value="baudelaire"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Victor Hugo</ion-label>
                        <ion-radio value="hugo"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Émile Zola</ion-label>
                        <ion-radio value="zola"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Alexandre Dumas</ion-label>
                        <ion-radio value="dumas"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
    </ion-slides>
  
  
    </ion-content>