<ion-content>

  <ion-slides>
      <ion-slide>
  
        <ion-grid>
  
            <ion-row>
                <ion-col>
                    <button expand="block" type="button" class="question1">{{question1}}</button>
                </ion-col>
            </ion-row>
            
            <ion-row>
                <ion-col>
                  <div class="radio">
                      <ion-radio-group>
  
                      <ion-item>
                          <ion-label>Rome</ion-label>
                          <ion-radio value="rome"></ion-radio>
                        </ion-item>
                    
                        <ion-item>
                          <ion-label>Florence</ion-label>
                          <ion-radio value="florence"></ion-radio>
                        </ion-item>
                    
                        <ion-item>
                          <ion-label>Venice</ion-label>
                          <ion-radio value="venice"></ion-radio>
                        </ion-item>
                    
                        <ion-item>
                          <ion-label>Paris</ion-label>
                          <ion-radio value="paris"></ion-radio>
                        </ion-item>
                    
                        <ion-item>
                          <ion-label>Milano</ion-label>
                          <ion-radio value="milano"></ion-radio>
                        </ion-item>
                        </ion-radio-group>
  
                  </div>
                  
                </ion-col>
            </ion-row>
  
            <ion-row>
                <ion-col>
                    <div>
                        <ion-button class="submit-button">Next Question</ion-button>
                      </div>
                </ion-col>
            </ion-row>
  
  
  
  
  
          </ion-grid>
          
        
        
        
        
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question2">{{question2}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Winged Victory of Samothrace</ion-label>
                        <ion-radio value="winged"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Discobolus</ion-label>
                        <ion-radio value="discobolus"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Kore</ion-label>
                        <ion-radio value="kore"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Aphrodite of Knidos</ion-label>
                        <ion-radio value="aphrodite"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Venus de Milo</ion-label>
                        <ion-radio value="venus"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question3">{{question3}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Donatello</ion-label>
                        <ion-radio value="donatello"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Leonardo da Vinci</ion-label>
                        <ion-radio value="leonardo"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Raphael</ion-label>
                        <ion-radio value="raphael"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Caravaggio</ion-label>
                        <ion-radio value="caravaggio"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Michelangelo</ion-label>
                        <ion-radio value="michelangelo"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question4">{{question4}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>1880</ion-label>
                        <ion-radio value="1880"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>1798</ion-label>
                        <ion-radio value="1798"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>1886</ion-label>
                        <ion-radio value="1886"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>1921</ion-label>
                        <ion-radio value="1921"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>1856</ion-label>
                        <ion-radio value="1856"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question5">{{question5}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Christ the King</ion-label>
                        <ion-radio value="christking"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Christ the Redeemer</ion-label>
                        <ion-radio value="christredeemaer"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Christ of the Abyss</ion-label>
                        <ion-radio value="christabyss"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Mount Rushmore</ion-label>
                        <ion-radio value="mount"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Statue of Liberty</ion-label>
                        <ion-radio value="statueliberty"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question6">{{question6}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Auguste Rodin</ion-label>
                        <ion-radio value="auguste"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Alberto Giacometti</ion-label>
                        <ion-radio value="alberto"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Edgar Degas</ion-label>
                        <ion-radio value="edgar"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Camille Claudel</ion-label>
                        <ion-radio value="camille"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Michelangelo</ion-label>
                        <ion-radio value="michelangelo"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question7">{{question7}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Moses</ion-label>
                        <ion-radio value="moses"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Apollo Belvedere</ion-label>
                        <ion-radio value="apollo"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Laocoön and His Sons</ion-label>
                        <ion-radio value="laocoon"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Statue of Zeus at Olympia</ion-label>
                        <ion-radio value="zeus"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Perseus with the Head of Medusa</ion-label>
                        <ion-radio value="perseus"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question8">{{question8}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Raphael</ion-label>
                        <ion-radio value="raphael"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Gian Lorenzo Bernini</ion-label>
                        <ion-radio value="gian"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Francesco Borromini</ion-label>
                        <ion-radio value="francesco"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Antonio Canova</ion-label>
                        <ion-radio value="canova"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Auguste Rodin</ion-label>
                        <ion-radio value="rodin"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question9">{{question9}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Neoclassicism</ion-label>
                        <ion-radio value="neoclassicism"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Romanticism</ion-label>
                        <ion-radio value="romanticism"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Renaissance</ion-label>
                        <ion-radio value="renaissance"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Rococo</ion-label>
                        <ion-radio value="rococo"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Baroque</ion-label>
                        <ion-radio value="baroque"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question10">{{question10}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Daniel Chester French</ion-label>
                        <ion-radio value="daniel"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Frederick William MacMonnies</ion-label>
                        <ion-radio value="frederick"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>James Earle Fraser</ion-label>
                        <ion-radio value="james"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Augustus Saint-Gaudens</ion-label>
                        <ion-radio value="augustus"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Stanford White</ion-label>
                        <ion-radio value="stanford"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
    </ion-slides>
  
  
    </ion-content>