<ion-content>

  <ion-slides>
      <ion-slide>
  
        <ion-grid>
  
            <ion-row>
                <ion-col>
                    <button expand="block" type="button" class="question1">{{question1}}</button>
                </ion-col>
            </ion-row>
            
            <ion-row>
                <ion-col>
                  <div class="radio">
                      <ion-radio-group>
  
                      <ion-item>
                          <ion-label>Wolfgang Amadeus Mozart</ion-label>
                          <ion-radio value="mozart"></ion-radio>
                        </ion-item>
                    
                        <ion-item>
                          <ion-label>George Gershwin</ion-label>
                          <ion-radio value="gershwin"></ion-radio>
                        </ion-item>
                    
                        <ion-item>
                          <ion-label>Leonard Bernstein</ion-label>
                          <ion-radio value="bernstein"></ion-radio>
                        </ion-item>
                    
                        <ion-item>
                          <ion-label>Antonin Dvorak</ion-label>
                          <ion-radio value="dvorak"></ion-radio>
                        </ion-item>
                    
                        <ion-item>
                          <ion-label>Ludwig van Beethoven</ion-label>
                          <ion-radio value="beethoven"></ion-radio>
                        </ion-item>
                        </ion-radio-group>
  
                  </div>
                  
                </ion-col>
            </ion-row>
  
            <ion-row>
                <ion-col>
                    <div>
                        <ion-button class="submit-button">Next Question</ion-button>
                      </div>
                </ion-col>
            </ion-row>
  
  
  
  
  
          </ion-grid>
          
        
        
        
        
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question2">{{question2}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>4</ion-label>
                        <ion-radio value="4"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>12</ion-label>
                        <ion-radio value="12"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>24</ion-label>
                        <ion-radio value="24"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>48</ion-label>
                        <ion-radio value="48"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>38</ion-label>
                        <ion-radio value="38"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question3">{{question3}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>1971</ion-label>
                        <ion-radio value="1971"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>1972</ion-label>
                        <ion-radio value="1972"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>1973</ion-label>
                        <ion-radio value="1973"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>1974</ion-label>
                        <ion-radio value="1974"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>1976</ion-label>
                        <ion-radio value="1976"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question4">{{question4}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Ceylon</ion-label>
                        <ion-radio value="ceylon"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Burma</ion-label>
                        <ion-radio value="burma"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>India</ion-label>
                        <ion-radio value="india"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Vietnam</ion-label>
                        <ion-radio value="vietnam"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>China</ion-label>
                        <ion-radio value="china"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question5">{{question5}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Hamburg</ion-label>
                        <ion-radio value="hamburg"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Vienna</ion-label>
                        <ion-radio value="vienna"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Berlin</ion-label>
                        <ion-radio value="berlin"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Bonn</ion-label>
                        <ion-radio value="bonn"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Frankfurt</ion-label>
                        <ion-radio value="frankfurt"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question6">{{question6}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Georges Bizet</ion-label>
                        <ion-radio value="bizet"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Gioachino Rossini</ion-label>
                        <ion-radio value="rossini"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Giuseppe Verdi</ion-label>
                        <ion-radio value="verdi"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Giacomo Puccini</ion-label>
                        <ion-radio value="puccini"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Pyotr Ilyich Tchaikovsky</ion-label>
                        <ion-radio value="tchaikovsky"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question7">{{question7}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Claude Debussy</ion-label>
                        <ion-radio value="debussy"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Gioachino Rossini</ion-label>
                        <ion-radio value="rossini"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Wolfgang Amadeus Mozart</ion-label>
                        <ion-radio value="mozart"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Pyotr Ilyich Tchaikovsky</ion-label>
                        <ion-radio value="tchaikovsky"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Richard Wagner</ion-label>
                        <ion-radio value="wagner"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question8">{{question8}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Berlin</ion-label>
                        <ion-radio value="berlin"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Hamburg</ion-label>
                        <ion-radio value="hamburg"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Dresden</ion-label>
                        <ion-radio value="dresden"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Lepzig</ion-label>
                        <ion-radio value="lepzig"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Munchen</ion-label>
                        <ion-radio value="munchen"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question9">{{question9}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Claudio Monteverdi</ion-label>
                        <ion-radio value="monteverdi"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>George Frideric Handel</ion-label>
                        <ion-radio value="handel"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Robert Schumann</ion-label>
                        <ion-radio value="schumann"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Johannes Brahms</ion-label>
                        <ion-radio value="brahms"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Antonio Vivaldi</ion-label>
                        <ion-radio value="vivaldi"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
      <ion-slide>
        <ion-grid>
  
          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question10">{{question10}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
                <div class="radio">
                    <ion-radio-group>
  
                    <ion-item>
                        <ion-label>Gaetano Donizetti</ion-label>
                        <ion-radio value="donizetti"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Giuseppe Verdi</ion-label>
                        <ion-radio value="verdi"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Giacomo Puccini</ion-label>
                        <ion-radio value="puccini"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Vincenzo Bellini</ion-label>
                        <ion-radio value="bellini"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>Gioachino Rossini</ion-label>
                        <ion-radio value="rossini"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
  
                </div>
                
              </ion-col>
          </ion-row>
  
          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>
  
  
  
  
  
        </ion-grid>
      </ion-slide>
    </ion-slides>
  
  
    </ion-content>