ion-slides{

    height: 100%;

}



.checbox-banner{

    position: relative;
    top: 100%;
    min-height:200px;
}



.submit-button{

    position: block;
    margin-top: 10%;
    width: 100%;
    

}

.radio{

    position: block;
    margin-top: 60%;


}

.question1{    
   
    width: 100%;
    height: 450%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 30px;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
    position: relative;
    top: -140%;
    background: url(./images3/3question1.jpg);
    text-shadow: 2px 2px 4px #000000;   

}

.question2{    
   
    width: 100%;
    height: 450%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 30px;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
    position: relative;
    top: -140%;
    background: url(./images3/3question2.jpg);
    background-position: -120px 0px;
    text-shadow: 2px 2px 4px #000000;   

}

.question3{    
   
    width: 100%;
    height: 450%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 30px;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
    position: relative;
    top: -140%;
    background: url(./images3/3question3.jpg);
    text-shadow: 2px 2px 4px #000000;   
    

}


.question4{    
   
    width: 100%;
    height: 450%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 30px;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
    position: relative;
    top: -140%;
    background: url(./images3/3question4.jpg);
    text-shadow: 2px 2px 4px #000000;   
    

}

.question5{    
   
    width: 100%;
    height: 450%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 30px;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
    position: relative;
    top: -140%;
    background: url(./images3/3question5.jpg);
    text-shadow: 2px 2px 4px #000000;   
    

}

.question6{    
   
    width: 100%;
    height: 450%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 30px;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
    position: relative;
    top: -140%;
    background: url(./images3/3question6.jpg);
    background-position: -120px 0px;
    text-shadow: 2px 2px 4px #000000;   
    

}

.question7{    
   
    width: 100%;
    height: 450%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 30px;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
    position: relative;
    top: -140%;
    background: url(./images3/3question7.jpg);
    background-position: -120px 0px;
    text-shadow: 2px 2px 4px #000000;   
    

}

.question8{    
   
    width: 100%;
    height: 450%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 30px;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
    position: relative;
    top: -140%;
    background: url(./images3/3question8.jpg);
    text-shadow: 2px 2px 4px #000000;   
    

}

.question9{    
   
    width: 100%;
    height: 450%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 30px;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
    position: relative;
    top: -140%;
    background: url(./images3/3question9.jpg);
    text-shadow: 2px 2px 4px #000000;   
    

}

.question10{    
   
    width: 100%;
    height: 450%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 30px;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
    position: relative;
    top: -140%;
    background: url(./images3/3question10.jpg);
    background-position: -120px 0px;
    text-shadow: 2px 2px 4px #000000;   
    

}
