.paint{

    display: block;
    width: 100%;
    height: 25%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 30px;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
    background: url(./img/1280px-Van_Gogh_-_Starry_Night_-_Google_Art_Project.jpg);
    text-shadow: 2px 2px 4px #000000;
}

.sculpture{

    display: block;
    width: 100%;
    height: 25%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 30px;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
    background: url(./img/506.jpg);
    text-shadow: 2px 2px 4px #000000;
}

.music{

    display: block;
    width: 100%;
    height: 25%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 30px;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
    background: url(./img/6.jpg);
    text-shadow: 2px 2px 4px #000000;
}

.literature{

    display: block;
    width: 100%;
    height: 25%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 30px;
    color: antiquewhite;
    cursor: pointer;
    text-align: center;
    background: url(./img/10-great-books-2018-tile.jpg);
    text-shadow: 2px 2px 4px #000000;
}