<ion-content>

<button expand="block" routerLink="/painting" routerDirection="root" type="button" class="paint">Painting</button>
<button expand="block" routerLink="/sculpture" routerDirection="root" type="button" class="sculpture">Sculpture</button>
<button expand="block" routerLink="/music" routerDirection="root" type="button" class="music">Music</button>
<button expand="block" routerLink="/literature" routerDirection="root" type="button" class="literature">Literature</button>



</ion-content>

