<ion-content>

<ion-slides>
    <ion-slide>

      <ion-grid>

          <ion-row>
              <ion-col>
                  <button expand="block" type="button" class="question1">{{question1}}</button>
              </ion-col>
          </ion-row>
          
          <ion-row>
              <ion-col>
               
                <div class="radio">
                    <ion-radio-group>

                    <ion-item>
                        <ion-label>1492</ion-label>
                        <ion-radio value="1492"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>1526</ion-label>
                        <ion-radio value="1526"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>1503</ion-label>
                        <ion-radio value="1503"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>1524</ion-label>
                        <ion-radio value="1524"></ion-radio>
                      </ion-item>
                  
                      <ion-item>
                        <ion-label>1621</ion-label>
                        <ion-radio value="1621"></ion-radio>
                      </ion-item>
                      </ion-radio-group>
                   

                </div>
                
              </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                  <div>
                      <ion-button class="submit-button">Next Question</ion-button>
                    </div>
              </ion-col>
          </ion-row>





        </ion-grid>
        
      
      
      
      
    </ion-slide>
    <ion-slide>
      <ion-grid>

        <ion-row>
            <ion-col>
                <button expand="block" type="button" class="question2">{{question2}}</button>
            </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col>
              <div class="radio">
                  <ion-radio-group>

                  <ion-item>
                      <ion-label>Joan Miró</ion-label>
                      <ion-radio value="joan"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Wassily Kandinsky</ion-label>
                      <ion-radio value="wassily"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Pablo Picasso</ion-label>
                      <ion-radio value="pablo"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Henri Matisse</ion-label>
                      <ion-radio value="henri"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Piet Mondrian</ion-label>
                      <ion-radio value="piet"></ion-radio>
                    </ion-item>
                    </ion-radio-group>

              </div>
              
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div>
                    <ion-button class="submit-button">Next Question</ion-button>
                  </div>
            </ion-col>
        </ion-row>





      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>

        <ion-row>
            <ion-col>
                <button expand="block" type="button" class="question3">{{question3}}</button>
            </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col>
              <div class="radio">
                  <ion-radio-group>

                  <ion-item>
                      <ion-label>Italy</ion-label>
                      <ion-radio value="itlay"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Argentina</ion-label>
                      <ion-radio value="argentina"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>France</ion-label>
                      <ion-radio value="france"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Spain</ion-label>
                      <ion-radio value="spain"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Portugal</ion-label>
                      <ion-radio value="portugal"></ion-radio>
                    </ion-item>
                    </ion-radio-group>

              </div>
              
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div>
                    <ion-button class="submit-button">Next Question</ion-button>
                  </div>
            </ion-col>
        </ion-row>





      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>

        <ion-row>
            <ion-col>
                <button expand="block" type="button" class="question4">{{question4}}</button>
            </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col>
              <div class="radio">
                  <ion-radio-group>

                  <ion-item>
                      <ion-label>The Son of Man</ion-label>
                      <ion-radio value="sonofman"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Las Meninas</ion-label>
                      <ion-radio value="lasmeninas"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>The Persistence of Memory</ion-label>
                      <ion-radio value="persistence"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>The Kiss</ion-label>
                      <ion-radio value="kiss"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Guernica</ion-label>
                      <ion-radio value="guernica"></ion-radio>
                    </ion-item>
                    </ion-radio-group>

              </div>
              
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div>
                    <ion-button class="submit-button">Next Question</ion-button>
                  </div>
            </ion-col>
        </ion-row>





      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>

        <ion-row>
            <ion-col>
                <button expand="block" type="button" class="question5">{{question5}}</button>
            </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col>
              <div class="radio">
                  <ion-radio-group>

                  <ion-item>
                      <ion-label>Gustav Klimt</ion-label>
                      <ion-radio value="gustav"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Eugène Delacroix</ion-label>
                      <ion-radio value="eugene"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Edgar Degas</ion-label>
                      <ion-radio value="edgar"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Henri de Toulouse-Lautrec</ion-label>
                      <ion-radio value="henri"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Pierre-Auguste Renoir</ion-label>
                      <ion-radio value="pierre"></ion-radio>
                    </ion-item>
                    </ion-radio-group>

              </div>
              
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div>
                    <ion-button class="submit-button">Next Question</ion-button>
                  </div>
            </ion-col>
        </ion-row>





      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>

        <ion-row>
            <ion-col>
                <button expand="block" type="button" class="question6">{{question6}}</button>
            </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col>
              <div class="radio">
                  <ion-radio-group>

                  <ion-item>
                      <ion-label>Johannes Vermeer</ion-label>
                      <ion-radio value="johannes"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Anthony van Dyck</ion-label>
                      <ion-radio value="anthony"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Albrecht Dürer</ion-label>
                      <ion-radio value="albrecht"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Rembrandt</ion-label>
                      <ion-radio value="rembrandt"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Peter Paul Rubens</ion-label>
                      <ion-radio value="peter"></ion-radio>
                    </ion-item>
                    </ion-radio-group>

              </div>
              
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div>
                    <ion-button class="submit-button">Next Question</ion-button>
                  </div>
            </ion-col>
        </ion-row>





      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>

        <ion-row>
            <ion-col>
                <button expand="block" type="button" class="question7">{{question7}}</button>
            </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col>
              <div class="radio">
                  <ion-radio-group>

                  <ion-item>
                      <ion-label>Liberty Leading the People</ion-label>
                      <ion-radio value="libery"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>The Raft of the Medusa</ion-label>
                      <ion-radio value="raft"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Oath of the Horatii</ion-label>
                      <ion-radio value="oath"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>The Death of Sardanapalus</ion-label>
                      <ion-radio value="death"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>The Massacre at Chios</ion-label>
                      <ion-radio value="massacre"></ion-radio>
                    </ion-item>
                    </ion-radio-group>

              </div>
              
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div>
                    <ion-button class="submit-button">Next Question</ion-button>
                  </div>
            </ion-col>
        </ion-row>





      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>

        <ion-row>
            <ion-col>
                <button expand="block" type="button" class="question8">{{question8}}</button>
            </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col>
              <div class="radio">
                  <ion-radio-group>

                  <ion-item>
                      <ion-label>Rembrandt</ion-label>
                      <ion-radio value="rembrandt"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Albrecht Dürer</ion-label>
                      <ion-radio value="albreecht"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Titian</ion-label>
                      <ion-radio value="titian"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Jan van Eyck</ion-label>
                      <ion-radio value="jan"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Raphael</ion-label>
                      <ion-radio value="raphael"></ion-radio>
                    </ion-item>
                    </ion-radio-group>

              </div>
              
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div>
                    <ion-button class="submit-button">Next Question</ion-button>
                  </div>
            </ion-col>
        </ion-row>





      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>

        <ion-row>
            <ion-col>
                <button expand="block" type="button" class="question9">{{question9}}</button>
            </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col>
              <div class="radio">
                  <ion-radio-group>

                  <ion-item>
                      <ion-label>Russia</ion-label>
                      <ion-radio value="russia"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Spain</ion-label>
                      <ion-radio value="spain"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>France</ion-label>
                      <ion-radio value="france"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Netherlands</ion-label>
                      <ion-radio value="netherlands"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>Italy</ion-label>
                      <ion-radio value="italy"></ion-radio>
                    </ion-item>
                    </ion-radio-group>

              </div>
              
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div>
                    <ion-button class="submit-button">Next Question</ion-button>
                  </div>
            </ion-col>
        </ion-row>





      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>

        <ion-row>
            <ion-col>
                <button expand="block" type="button" class="question10">{{question10}}</button>
            </ion-col>
        </ion-row>
        
        <ion-row>
            <ion-col>
              <div class="radio">
                  <ion-radio-group>

                  <ion-item>
                      <ion-label>1508</ion-label>
                      <ion-radio value="1508"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>1489</ion-label>
                      <ion-radio value="1489"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>1623</ion-label>
                      <ion-radio value="1623"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>1512</ion-label>
                      <ion-radio value="1512"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label>1518</ion-label>
                      <ion-radio value="1518"></ion-radio>
                    </ion-item>
                    </ion-radio-group>

              </div>
              
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div>
                    <ion-button class="submit-button">Next Question</ion-button>
                  </div>
            </ion-col>
        </ion-row>





      </ion-grid>
    </ion-slide>
  </ion-slides>


  </ion-content>